@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Join Game</h2>
    <form>
        Name: <input required="" />
        <button type="submit">Join Game</button>
    </form>
</div>

<div>
    <h2>Player name goes here</h2>
    <h3>Health</h3>
    <p>Health info goes here</p>
    <h3>Dead</h3>
</div>

<div>
    <h2>Other Players</h2>
    <p>Display of other players goes here</p>
</div>

@section scripts
{
    <script type="text/javascript">
        
        var gameHub = $.connection.gameHub;

        gameHub.client.playerJoined = function(playerName, health) {
            //TODO
        }

        gameHub.client.updatePlayerHealth = function(playerName, health) {
            // TODO
        }


        $.connection.hub.start();

    </script>
}
